*{
    margin: 0;
    padding:0;
    font-family: 'Arimo', sans-serif;
}

html{
    height:100%;
    overflow: hidden; /*footer disabled*/
    position: relative;


}

body{
    height: 100%;
    overflow: hidden; /*footer disabled*/
    position: relative;

}

.container-index{
    height: 100%;
    background: url(pc3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.container-contact{
    height: 100%;
    background: url(mac.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    background-color: white;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 80px;
}

.listitem1{
    list-style: none;
    margin-right: auto;
    margin-left: 0px;
}

.logo-navbar{
    width: 90px;
}

.listitem2{
    list-style: none;
    margin-right: 20px;
}


.listitem3{
    list-style: none;
    margin-right: 80px;
}

.contact-button{
    background-color: white;
    border-color:black;
    color:black;
    border-style: hidden;
    border-radius: 8px;
    height: 39px;
    width: 72px;
    transition: background-color 0.3s, color 0.3s;
    cursor:pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;

}



.hint{
    font-style: italic;
    margin-top: 20px;
    font-size: 18px;
}

.contact-button:hover{
    background-color: black;
    color:white;
}


.about-button{
    background-color: white;
    border-color:black;
    border-style: solid;
    border-width: 2px;
    color:black;
    border-radius: 8px;
    height: 46px;
    width: 72px;
    transition: background-color 0.3s, color 0.3s;
    cursor:pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;

}

.about-button:hover{
    background-color: black;
    color:white;
}


.body-under-nav{
    position: relative;
    text-align: center;
    color: white;
}


.top-left {
    position: absolute;
    top: 16px;
    left: 56px;

}

.bottom-center{
    position: fixed;
    top: 90%;
    left: 50%;
    opacity: 0;
    animation-name: fadeSlightly;
    animation-duration: 2s;
    animation-delay: 30s;
    animation-fill-mode: forwards;
}


.say-hi{
    margin-top: 90px;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px red;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;

}

.say-hi-contact{
    margin-top: 90px;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px red;
    opacity: 0;
    animation-name: fadeSlightly;
    animation-duration: 2s;
    animation-fill-mode: forwards;


}

.say-hi-text-another-container{
    margin-top: 30px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px red;
    width: 600px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.say-hi-text-another-container-contact{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px red;
    width: 600px;
    opacity: 0;
    animation-name: fadeSlightly;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

h1{
    text-align: left;
}

.email-div{
    font-size: 40px;
    color: white;
    width: 600px;
    opacity: 0;
    animation-name: fadeSlightly;
    animation-duration: 1s;
    animation-delay:4s;
    animation-fill-mode: forwards;
}


@keyframes fadeIn {
    from { 
        opacity: 0; 
    }
    to {
         opacity: 1; 
    }
}

@keyframes fadeSlightly{
    from{
        opacity: 0.1;
        line-height: 50px;
    }
    to{
        opacity: 1;
        line-height: 50px;
    }
}


@keyframes wiggle {
    2% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    4% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    6% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    8% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    10% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    12% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    14% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    16% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    18% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    20% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }

.email{

    width: 140px;
    -webkit-filter: invert(1);
    filter: invert(1);
    animation: wiggle 2.7s infinite;
}


.buttonskills, .buttonprojects, .buttonabout {
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px red;
    background-color: transparent;
    border-color: transparent;
    opacity: 0;
    animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    margin-top: 60px;
    padding-left: 0px;    
    cursor: pointer;
}



.skills-to-fade-in{
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    color: white;
    text-shadow: 2px 2px 4px red;
    opacity: 0;
    animation: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    padding-left: 2px;
}


.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:30px;
}

.about-list{
    list-style: none;
}

.project-list{
    list-style: none;
}

.skill-list{
    list-style: none;
}

.skill-div{
    display: flex;
    justify-content: space-between;
}

.frontend-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;
}

.backend-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;

}

.other-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;

}



/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }














.glow-on-hover {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 80px;
    font-family: 'Arimo', sans-serif;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

















